{% extends "base.html" %}
{% block page %}index{% endblock %}
{% block content %}
<div class="row between">
  <h1><i class="fa-solid fa-layer-group" style="color:var(--brand);margin-right:.5rem"></i>Template Sertifikat</h1>
  <button id="btn-new" class="btn primary"><i class="fa-solid fa-plus"></i> Template Baru</button>
</div>
<p class="hint">
  Tiap template menyimpan background (depan/belakang), font, dan posisi teks.
  Setelah siap, buka <strong>Generate</strong> untuk mengunggah data peserta.
  Sudah punya PDF gabungan dan ingin memecahnya per peserta? Buka menu
  <a href="/split">Split PDF</a>.
</p>
<div id="tpl-list" class="grid"></div>
{% endblock %}
